<html>
<body style="background-color:grey;">
<p>Bienvenido a {{name}}</p>

<a href="bienvenida">Bienvenida</a>

<form method="post" action='procesarAltaProfesores'>
	
	<input type="hidden" name="_csrf" value="{{token}}"/>
	<label for="nombreCompleto">Nombre Completo:</label>
	<input type="text" name='nombreCompleto' value='{{nombreCompleto}}'>
	
	<label for="dni">D.N.I.:</label>
	<input type="text" name='dni' value='{{dni}}'>
	
	<label for="password">Contraseña:</label>
	<input type="password" name='password' value='{{password}}'>
	
	<label for="email">Correo electrónico:</label>
	<input type="text" name='email' value='{{email}}'>
	
	<input type="submit" value='grabar'>

</form>
</body>
</html>