<!DOCTYPE html>
<html>

<style> 
body {
  
  background-color: #cccccc;
  background-attachment: fixed;
}

label span { color: yellow; }
</style>

<body>



<p><center>

1. Requisitos mínimos iniciales<br>
Antes de ponerte a tramitar el carnet de conducir es necesario que conozcas cuáles son los requisitos mínimos iniciales. Estos son:<br>

Tener la residencia española.<br>
En el caso de pertenecer a un país miembros de la Unión Europea, del Espacio Económico o bien con acuerdo bilateral entre españa España y dicho País (colombia, argentina, peru, por poner algunos casos), no necesitas obtenerlo nuevamente. Puedes canjear tu permiso de conducir.<br>
Tener la edad mínima: 18 años. No obstante, con 17 años se puede iniciar el trámite y realizar las clases teóricas y prácticas previas al examen de la DGT.<br>
Tener las aptitudes psicofísicas necesarias.<br>
No estar privado por resolución judicial del derecho a conducir.<br>
Disponer de la cantidad de dinero necesaria para hacer frente a las clases, tasas, etcétera. Esta cantidad es variable en función de la cantidad de clases prácticas, la localidad, etcétera.<br>
<br>
<br>
<br>

2. Documentación necesaria<br>
A continuación, detallamos la documentación que necesitarás para obtener el carnet de conducir:<br>

Documentación acreditativa de identidad:<br>
DNI o Pasaporte.<br>
Si eres extranjero comunitario: Autorización de residencia o documento de identidad del país. Así como certificado de inscripción en el Registro Central de Extranjeros.<br>
En el caso de ser extranjero no comunitario, necesitarás la autorización de residencia en vigor.<br>
Fotografías en el formato correspondiente y a color (32×26). Sin prendas que puedan posteriormente perjudicar tu identificación.<br>
La solicitud de pruebas de aptitud de la Dirección General de Tráfico.<br>
Informe de aptitud psicofísica expedido por un Centro de Reconocimiento de Conductores. Valido hasta 90 días después de su expedición.<br>
Documentación que declare que como solicitante no tienes restricciones judiciales para conducir vehículos.<br>
Documentación que sirva como declaración de no ser titular de otro carnet de conducir del mismo tipo obtenido en cualquier otro país de la UE.<br>
Toda esta documentación deberás presentarla en la Jefatura Provincial de Tráfico que corresponda. Si vas a asistir a una autoescuela, será la propia quien se encargue de presentar tu solicitud para las pruebas y obtener tu permiso en caso de que las superes.<br>

En caso de tener ya permiso de conductir en vigor, tendrás que entregarlo al realizar las pruebas para su renovación. Se te dará uno provisional, y se te hará llegar uno definitivo posteriormente.<br>


</p></center>
<li><a href="login">volver</a></li>
</body>
</html>