<html>
<body>
<p>Eres el usuario: {{username}}</p>
<p>Eres profesor:{{profesor}}</p>

<p>Bienvenido a {{name}}</p>

	<a href="bienvenida">Bienvenida</a>
	<p>Nombre Completo:{{nombreCompleto}}</p>
	<p>D.N.I.:{{dni}}</p>
	<p>Correo electrónico:{{email}}</p>
	
	{{#siClases}}
	<p>Lsita de clases reservadas:</p>
	<table border="1">
		<thead>
			<th> Hora de comienzo</th>
			<th> Carnet</th>
			<th> Nombre del profresor</th>
			
		
		</thead>
		
		{{#clases}}
		<tr>
		
 			<td>{{fechaHoraComienzo}}</td>
 			<td>{{carnet.tipo}}</td>
 			<td>{{profesor.nombreCompleto}}</td>
 		</tr>
		
			
		{{/clases}}
	</table>
	{{/siClases}}
	{{#profesor}}
	<a href="ModificaAlumno?dni={{dni}}">Modificar</a>
	{{/profesor}}
	{{#admin}}
	<a href="borraAlumno?dni={{dni}}">Borrar</a>
	{{/admin}}
</body>
</html>