<html>
<body>
<p>Bienvenido a {{name}}</p>

<a href="bienvenida">Bienvenida</a>

<form method="post" action='procesarAltaClase'>
	<input type="hidden" name="_csrf" value="{{token}}"/>
	<label for="fecha">Fecha de la clase:</label>
	<input type="date" name="fecha" min="{{fechaMinima}}"  />
  
  	<label for="hora">Hora de comienzo:</label>
  	<input type="time" name="hora" min="{{horaApertura}}" max="{{horaCierre}}" step="{{duracion}}" />
	
	<label for="carnet">Carnet:</label>
	<input type="text" name='carnet' value='{{carnet}}'>
	
	<label for="profesor">D.N.I Profesor:</label>
	<input type="text" name='profesor' value='{{profesor}}'>
	
	<input type="submit" value='grabar'>

</form>
</body>
</html>