<html>
<body style="background-color:grey;">
<p>Bienvenido a {{name}}</p>

	<a href="bienvenida">Bienvenida</a>
	
	<p>Fecha y hora de comienzo:{{fechaHoraComiezo}}</p>
	<p>Duracion:{{duracion}}</p>
	<p>Carnet:{{carnet}}</p>
	<p>Profesor: dni {{dniProfesor}},Nombre {{nombreProfesor}}</p>
	
	{{#siAlumnos}}
	<p>Lista de Alumnos apuntados:</p>
	<table border="1">
		<thead>
			<th>Nombre</th>
			<th>Dni</th>
			
		
		</thead>
		
		{{#alumnos}}
		<tr>
		
 			<td>{{nombreCompleto}}</td>
 			<td>{{dni}}</td>
 		</tr>
		
			
		{{/alumnos}}
	</table>
	{{/siAlumnos}}
	
	{{#profesor}}
	<a href="ModificaClase?idClase={{idClase}}">Modificar</a>
	{{/profesor}}
	{{#admin}}
	<a href="borraClase?idClase={{idClase}}">Borrar</a>
	{{/admin}}
	<a href="aniadeAlumno?idClase={{idClase}}">Añadir alumno</a>

</body>
</html>